<h1>Login</h1>
<form method="POST" action="/auth/login">

	<input type="email" name="email" placeholder="E-mail Address" class="form-control login-page" /><br>

	<input type="password" name="password" placeholder="Password" class="form-control login-page" /><br>

	<input type="submit" value="Log in" class="btn btn-danger" /><br>
</form>