<div class="text-center">
    <h1 class="about">Log in</h1>


    <form class="form" method="post" action="/auth/login">
        <input type="text" class="form-control" placeholder="Enter your username" name="username">
        <br>
        <input type="password" class="form-control" placeholder="Enter your password" name="password">
        <br>
        <input type="submit" value="log me in" class="btn btn-primary">
    </form>
</div>