<h1>Sign up</h1>
<form method="POST" action="/auth/signup">

	<input type="text" name="name" class="form-control signup-page" placeholder="Enter username" /><br>

	<input type="email" name="email" class="form-control signup-page" placeholder="Enter e-mail address" /><br>

	<input type="password" name="password" class="form-control signup-page" placeholder="Enter your password (min 8 characters)" /><br>

	<input type="password" name="password2" class="form-control signup-page" placeholder="Please re-enter your password" /><br>

	<input type="submit" value="Create Account" class="btn btn-danger" />

</form>