<h1>Share your thoughts</h1>
<a href="auth/logout" class="btn btn-inverse logout">Log Out</a>

<form action="" method="POST" role="form">
	<div class="form-group comment">
    <input type="text" class="form-control" placeholder="Comment here" id="" name="comment">
  </div>
  <br>
	<button type="submit" class="btn btn-danger">Submit</button>
</form><br>

<% comments.forEach(function(comment) { %>
  <div class="well comments">
  	<h5><%= comment.content %></h5>
  </div>
<% }); %>



