<h1>Existentialr</h1>
<em><h4>How much time do you have left?</h4></em>
<br>

<!-- login stuff -->
<div class="sign-in">
    <a href="auth/login" class="btn btn-danger login">Login</a>
    <a href="auth/signup" class="btn btn-danger signup">Signup</a>
 </div>

