<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS & JS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
  <script src="dist/sweetalert.min.js"></script> 
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>Existentialr</title>
</head>
<body>
<div class="container" id="background">
	<% include alerts %>
  <%- body %>
</div>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>