<!-- <h1>Main</h1>

 <div class="form-group">
    <div class="form-group col-lg-3">
    <h6>Enter Birthdate</h6>
    <input type="text" class="form-control" id="" placeholder="ex. 17 November 1988">
    </div>

    <div class="form-group col-lg-3">
    <h6>Enter Sex</h6>
    <input type="text" class="form-control" id="" placeholder="ex. Female">
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Stare into the Abyss</button>
  
</form> -->
<div class="container">
<h1>Main</h1>

<form role="form">
    <div class="row">

  <div class="form-group">
    <h6>Enter Birthdate</h6>
      <input type="text" class="form-control" placeholder="ex. 6 November 1980">
  </div>
    </div>

    <div class="row">
  <div class="form-group">
    <h6>Enter Sex</h6>
      <input type="text" class="form-control" placeholder=" ex. Female">
  </div>
    </div>


<div class="row">
  <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>

    </div>