<div class="container">

<h1>Existentialr</h1>

<form action='/main' method='POST' role="form">
    <div class="row">

  <div class="form-group">
    <h6>Enter Birthdate</h6>
      <input type="text" class="form-control" name="birth" placeholder="ex. 6 November 1980">
  </div>
    </div>

    <div class="row">
  <div class="form-group">
    <h6>Enter Sex</h6>
      <input type="text" class="form-control" name="gender" placeholder="ex. Female">
  </div>
    </div>
    <br>
<div class="row">
  <button type="submit" class="btn btn-danger submit">Stare ino the Abyss</button>
  <a href="/comments" class="btn btn-danger comments">Comments</a>
    </div>
</form><br>
 	<h4><%= yearsLeft %></h4>
    <h4><%= lifeComplete %></h4>
    </div>

   
 