h1 {
	color: #af111c;
	font-family: creepster;
	font-size: 80px;
	margin-top: 50px;
	text-align:center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h6, h4 {
	color: #af111c;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
	text-align: center;
  background:url(http://i.imgur.com/sfbccYM.jpg) no-repeat center center fixed;
  background-size: cover;
}

#background {
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
.form-group {
	width: 200px;
	margin: 0 auto;
	display; block;
	text-align: center;
}
.login-page {
	width: 200px;
	margin: 0 auto;
	display: block;
}
.signup-page {
	width: 300px;
	margin: 0 auto;
	display: block;
}
.img-responsive {
	margin: 0 auto;
}
.logout {
	color: #af111c;
	position: absolute;
	top: 0;
	right: 0;
}
.comment {
	width: 300px;
}
.comments {
	width: 400px;
	opacity: 0.6;
	margin: 0 auto;
	padding: 2px;
}